    <div class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="logo"><a href="/users/<%= user.id %>">ShoCal</a></h1>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          	<li>
          		<form class="navbar-form navbar-left" role="search" action="/events" method="POST">
          		  <div class="dropdown" style="display: inline;">
  				        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    			          category
    			          <span class="caret"></span>
  				        </button>
  				        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    				        <li role="presentation"><a role="menuitem" tabindex="-1">music&nbsp;&nbsp;</a></li>
    				        <li role="presentation"><a role="menuitem" tabindex="-1">sports&nbsp;</a></li>
    				        <li role="presentation"><a role="menuitem" tabindex="-1">food&nbsp;&nbsp;&nbsp;</a></li>
  				        </ul>
				        </div>
        		<div class="form-group">
          			<input name="keyword" type="search" class="form-control" placeholder="search events">
        		</div>
        		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      			</form>
          	</li>
              <!-- <li><h4><%= user.name %>'s Calendar for <%= user.zipcode %></h4></li> -->
              <li><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button></li>
              <li><button type="button" class="btn btn-default btn-sm"><a href="/users/<%= user.id %>/profile"><span class="glyphicon glyphicon-user"></span></a></button></li>
              <li>
                <form action="/login" method="DELETE" style="display: inline;">
                  <input type="submit" value="Log Out">
  <!--                 <button id="log-out" type="button" class="btn btn-default btn-sm">Log Out</button> -->
                </form>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <h2><%= user.name %>'s calendar for <%= user.zipcode %></h2>
          <div id='calendar'>
          </div>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; ShoCal 2014</p>
      </footer>

    </div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">close</span></button>
        <h4 class="modal-title" id="myModalLabel">add event</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="/events/<%= user.id %>" method="POST">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">title</label>
            <div class="col-sm-10">
              <input id="title" class="form-control" id="inputEmail3" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">date</label>
            <div class="col-sm-10">
              <input id="date" class="form-control" id="inputEmail3" placeholder="Date">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">address</label>
            <div class="col-sm-10">
              <input id="address" class="form-control" id="inputEmail3" placeholder="Address">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">url</label>
            <div class="col-sm-10">
              <input id="url" class="form-control" id="inputEmail3" placeholder="URL">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">image url</label>
            <div class="col-sm-10">
              <input id="image" class="form-control" id="inputEmail3" placeholder="Image URL">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">category</label>
            <div class="col-sm-10" style="text-align: left;">
              <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  category
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1">music</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1">sports</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1">food</a></li>
                </ul>
              </div>  
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">description</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" id="description"></textarea>
            </div>
          </div>
        </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-event">add event</button>
      </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>